[ req ]
prompt                  = no
distinguished_name      = client_distinguished_name
req_extensions          = v3_req

[ client_distinguished_name ]
commonName              = client
stateOrProvinceName     = MH
countryName             = IN
emailAddress            = chandrakant.agarkar@linux.com
organizationName        = Linux Organization
organizationalUnitName  = client organization

[ v3_req ]
basicConstraints        = CA:FALSE
keyUsage                = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName          = @alt_names

[ alt_names ]
DNS.0                   = client.
